<?xml version="1.0"?>
<model>
  <name>sparrow</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>pham-van-de</name>
    <email></email>
  </author>
  <description>Sparrow quadrotor with PX4 multicopter motor model plugins and URDF-derived rotor locations.</description>
</model>
